<% if @var %>

<h1><%= @member.nickname %> !</h1>
<p>Tu viens de tirer la couleur <span style="color: ##{<%=@color.hex_code%>}"><%= @color.name %></span></p>
<p><%= @color.content %></p>

<h3>Joueur suivant ?</h3>
<%= link_to "Joue par ici", color_path(@col.id), method: :delete %>

<% else %>

  <h1>Le jeu est fini </h1>
  <%= link_to "Retourner à la page d'acceuil", users_path %>

<% end %>