<%= render 'users/banner'%>


<section class="container-fluid">
    <h3>Les <span class="text-primary"> membres </span> de mon équipe</h3>
    <% current_group.users.each do |user| %>
    <div class="row">
      <div class="media border border mb-4 col-sm-8 pl-4">
        <div class="avatar">
          <img class="media-object img-raised photo" src="<%= image_url("bird.svg")%>" alt="image random" />
        </div>
        <div class="media-body ">
            <h5 class="media-heading text-primary"><%= user.nickname %></h5>
            <p class="text-secondary">Hey, bienvenue dans la team THP, <%= user.nickname %> </p>
        </div>
        <div class="col-sm-4">
          <%= link_to "Supprimer ce membre", user_path(user.id), method: :delete, class: "btn btn-primary btn-md btn-block" %>
        </div>
      </div>
    </div>
    <%end%>
</section>