<div class="container" id="LoginForm">
  <h2 class=" text-center">Mot de passe oublié ?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>

    <div class="actions form-group">
      <%= f.submit "Envoyez-moi les informations pour modifier mon mdp", class: "btn btn-lg btn-primary btn-block " %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>