<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="<%= root_path %>"> THP icebreakers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <% if current_group %>
      <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active nav-link">
            <a class="nav-link" href="<%= new_color_path %>">Jeu 1</a>
        </li>
        <li class="nav-item active nav-link">
            <a class="nav-link" href="<%= new_soudain_path %>">Jeu 2</a>
        </li>
        <li class="nav-item active nav-link">
            <a class="nav-link" href="<%= new_truth_path %>">Jeu 3</a>
        </li>
        <li class="nav-item active nav-link">
            <a class="nav-link" href="<%= new_question_path %>">Jeu 4</a>
        </li>
        <li class="nav-item active nav-link">
            <a class="nav-link" href="<%= bd_index_path %>">Jeu 5</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse d-flex justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Espace perso
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Se déconnecter",  destroy_group_session_path(current_group.id) , method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
    </div>
        <% else %>
       <div class="collapse navbar-collapse d-flex justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Connexion
            </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="<%= new_group_session_path %>">Se connecter</a>
        <a class="dropdown-item" href="<%= new_group_registration_path %>">S'inscrire</a>
      </div>
     </div>
  <%end%>
  </nav>
